.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.listItem {
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    width: 400px;
    height: 600px;
    padding: 10px;
    margin: 10px;
    border: 3px solid #450047;
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
}

.listTitle {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.listItem:hover {
    border: 3px solid #88008f;
}

.taskList {
    margin-top: 10px;
}

.taskItem {
    background-color: transparent;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}